<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
  <meta charset="UTF-8">
  <title>Admin Add Tower</title>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

  <style>

    Body { margin: 0; font-family: "Optima", sans-serif, color: black
    }
    h1 { font-size: 40px; color: black; font-family: "Optima", sans-serif;
    }
    h2 {font-size: 16px; color: black  ; font-family: "Optima", sans-serif;
    }

    </style>
  <script type="text/javascript">
    var steps=0;
    function changeSteps() {
    var tierSelection = document.getElementById("tierSelection");
    var selectedValue = tierSelection.options[tierSelection.selectedIndex].value;
   if(selectedValue == 1) {
   	document.getElementById('stepsInput').value=10;
   	document.getElementById('rewardInput').value=10;
   	document.getElementById('costInput').value=50;
   }

   if(selectedValue == 2) {
   	document.getElementById('stepsInput').value=15;
   	document.getElementById('rewardInput').value=50;
   	document.getElementById('costInput').value=100;
   }

      if(selectedValue == 3) {
   	document.getElementById('stepsInput').value=20;
   	document.getElementById('rewardInput').value=100;
   	document.getElementById('costInput').value=150;
   }
   }


</script>

</head>
<body>
<div th:replace="fragments/navbar.html :: topnav"></div>
<div class="container-fluid text-center">
  <div class="text-center"><h1>Create a Custom Quest</h1></div>

  <form action="#" th:action="@{/create-quest}" th:object="${quest}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <label class="col-sm-4 col-form-label"><h4>Name:</h4></label>
    <input type="text" th:field="*{questName}" class="form-control col-4 mb-4"/>
    <label class="col-sm-4 col-form-label"><h4>Description:</h4></label>
    <input type="text" th:field="*{questDescription}" class="form-control col-4 mb-4"/>
    <label class="col-sm-4 col-form-label"><h4>Type:</h4></label>
    <select class="form-control col-4 mb-4" th:field="*{questType}">
      <option th:each="type : ${types}" th:value="${type}" th:text="${type}"></option>
    </select>
    <label class="col-sm-4 col-form-label"><h4>Steps:</h4></label>
    <input id="stepsInput" type="text" th:field="*{defaultSteps}" value="0" class="form-control col-4 mb-4" readonly/>
    <label class="col-sm-4 col-form-label"><h4>Reward:</h4></label>
    <input id="rewardInput" type="text" th:field="*{reward}" class="form-control col-4 mb-4" readonly/>
    <input type="hidden" th:field="*{completed}"/>
    <input type="hidden" th:field="*{steps}"/>
    <label class="col-sm-4 col-form-label"><h4>Tier:</h4></label>
    <select id="tierSelection" class="form-control col-4 mb-4" th:field="*{tier}" onchange="changeSteps()">
      <option value="1">Tier 1</option>
      <option th:if="${tierTwoCheck}" value="2" >Tier 2</option>
      <option th:if="${!tierTwoCheck}" value="0" disabled >Tier 2</option>
      <option th:if="${tierThreeCheck}" value="3" >Tier 3</option>
      <option th:if="${!tierThreeCheck}" value="0" disabled>Tier 3</option>
    </select>
    <label class="col-sm-4 col-form-label"><h4>Cost:</h4></label>
    <input id="costInput" type="text" class="form-control col-4 mb-4" readonly/>
    <br>
    <button type="submit" class="btn btn-success">Save</button>
    <a href="/quests" type="button" class="btn btn-secondary">Back</a>
  </form>
</div>
</body>
</html>