<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <title>PC Store</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }

    /* Remove the jumbotron's default bottom margin */
     .jumbotron {
      margin-bottom: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>
<div th:replace="fragments/navbar.html :: topnav"></div>

<div class="container">
  <div class="row">
    <div th:each="game : ${games}">
      <div class="col-sm-4">
        <div class="panel panel-primary">
          <div class="panel-heading" th:text="${game.name}"></div>
          <div class="panel-body"><a th:href="@{/games/{id}(id=${game.id})}"><img th:src=${game.imgSource} class="img-responsive" style="width:100%" alt="Image"></a></div>
          <div class="panel-footer">Click to play</div>
        </div>
      </div>
    </div>
  </div>
</div><br>

<div class="container">
</div><br><br>

</body>
</html>