<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:if="${!currentMessage.equals('You have finished mining the rock.')}" href="/games/2"><img src="https://png.pngtree.com/png-clipart/20210108/ourmid/pngtree-monochrome-rock-clip-art-png-image_2689540.jpg" alt="The Rock" class="center"> </a> <br>
<p th:text="${currentMessage}" class="center"></p> <br>
<a href="/index"><p th:if="${currentMessage.equals('You have finished mining the rock.')}">Back to main</p></a>

</body>
</html>