<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>collectR</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

<form>



    <legend>Questions</legend>

    <label th:text="${question.getQuestion()}"></label><br>
  <a href="/games/1/answer/0" class="button" th:text="${answers.get(0)}"></a><br>

  <a href="/games/1/answer/1" th:text="${answers.get(1)}" class="button"></a><br>

  <a href="/games/1/answer/2" th:text="${answers.get(2)}" class="button"></a><br>
    <p th:text="${count + '/5'}"></p>
    <p th:text="${'Correct Answers: ' + correctCount}"></p>


</form>

</body>

</html>